<p>
  
  <h2>
  <div class="float-right"> 
    <%= form_for(Heart.new) do |form| %>
        <%= form.hidden_field :post_id, value: post.id %>
        <%= form.submit "â¤", class: "btn btn-transparent" %>
    <% end %>
  </div>  
    <%= link_to post.title, post %>
  </h2>
</p>

<p> 
    <% if post.kind == 'image'%>
        Show the image
        <%= image_tag post.content, style: "width: 100%" %>
    <%else%>
        <%= simple_format post.content %>
    <%end%>
</p>

<p class="text-muted">
<small>
Posted on <%=  post.created_at.to_formatted_s(:long) %>
</small>

<small class="float-right">
<%= post.hearts.count %> hearts
</small>
</p>

<%= link_to 'Back', posts_path %>