<!DOCTYPE html>

<html>
  <head>
    <title>Crumblr</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
    <div class="page-header">
    <ul class="nav nav-pills float-right">
          <li class="nav-item"><a class="nav-link" href="/">Welcome</a> </li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a> </li>
      </ul>
      <h1> 
      <%= link_to "crumbler", "/" %>
      <small class="text-muted h3">//home baked goodness</small>
      </h1>
      
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <%= yield %>
      </div>
    </div>
    </div>  
  </body>
</html>
